In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("uber_rides_data.xlsx - sample_train.csv")

In [3]:
df

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...
199995,42598914,3.0,2012-10-28 10:49:00 UTC,-73.987042,40.739367,-73.986525,40.740297,1
199996,16382965,7.5,2014-03-14 01:09:00 UTC,-73.984722,40.736837,-74.006672,40.739620,1
199997,27804658,30.9,2009-06-29 00:42:00 UTC,-73.986017,40.756487,-73.858957,40.692588,2
199998,20259894,14.5,2015-05-20 14:56:25 UTC,-73.997124,40.725452,-73.983215,40.695416,1
199999,11951496,14.1,2010-05-15 04:08:00 UTC,-73.984395,40.720077,-73.985508,40.768793,1

In [4]:
df.shape

(200000, 8)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            200000 non-null  int64
 1   fare_amount        200000 non-null  float64
 2   pickup_datetime    200000 non-null  object
 3   pickup_longitude   200000 non-null  float64
 4   pickup_latitude    200000 non-null  float64
 5   dropoff_longitude  199999 non-null  float64
 6   dropoff_latitude   199999 non-null  float64
 7   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(2), object(1)
memory usage: 12.2+ MB

In [6]:
df.isnull().sum()

ride_id              0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    1
dropoff_latitude     1
passenger_count      0
dtype: int64

In [7]:
df['pickup_datetime'].astype('datetime64[ns]')

0        2015-05-07 19:52:06
1        2009-07-17 20:04:56
2        2009-08-24 21:45:00
3        2009-06-26 08:22:21
4        2014-08-28 17:47:00
                 ...
199995   2012-10-28 10:49:00
199996   2014-03-14 01:09:00
199997   2009-06-29 00:42:00
199998   2015-05-20 14:56:25
199999   2010-05-15 04:08:00
Name: pickup_datetime, Length: 200000, dtype: datetime64[ns]

In [8]:
df.dropna(inplace=True)

In [9]:
df

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...
199995,42598914,3.0,2012-10-28 10:49:00 UTC,-73.987042,40.739367,-73.986525,40.740297,1
199996,16382965,7.5,2014-03-14 01:09:00 UTC,-73.984722,40.736837,-74.006672,40.739620,1
199997,27804658,30.9,2009-06-29 00:42:00 UTC,-73.986017,40.756487,-73.858957,40.692588,2
199998,20259894,14.5,2015-05-20 14:56:25 UTC,-73.997124,40.725452,-73.983215,40.695416,1
199999,11951496,14.1,2010-05-15 04:08:00 UTC,-73.984395,40.720077,-73.985508,40.768793,1

In [10]:
df.isnull().sum()

ride_id              0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64

In [11]:
import numpy as np

In [12]:
average = df["fare_amount"].mean()

In [13]:
average

11.359891549457748

In [14]:
from scipy.spatial import distance

In [ ]:
df.crosstab(df[ride_id],df['pickup_datetime'])

In [15]:
maximum_value = df["fare_amount"].max()

In [16]:
maximum_value

499.0

In [18]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

In [19]:
df

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06+00:00,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56+00:00,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00+00:00,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21+00:00,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00+00:00,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...
199995,42598914,3.0,2012-10-28 10:49:00+00:00,-73.987042,40.739367,-73.986525,40.740297,1
199996,16382965,7.5,2014-03-14 01:09:00+00:00,-73.984722,40.736837,-74.006672,40.739620,1
199997,27804658,30.9,2009-06-29 00:42:00+00:00,-73.986017,40.756487,-73.858957,40.692588,2
199998,20259894,14.5,2015-05-20 14:56:25+00:00,-73.997124,40.725452,-73.983215,40.695416,1
199999,11951496,14.1,2010-05-15 04:08:00+00:00,-73.984395,40.720077,-73.985508,40.768793,1

In [20]:
# Filter the dataset to include only rides in September 2010
september_2010_rides = df[(df['pickup_datetime'].dt.year == 2010) & (df['pickup_datetime'].dt.month == 9)]

# Group the data by day of the week and count the rides for each day
rides_by_day = september_2010_rides['pickup_datetime'].dt.day_name().value_counts()

# Find the day with the maximum number of rides
max_rides_day = rides_by_day.idxmax()
max_rides_count = rides_by_day.max()

print(f"On which day of the week in September 2010, maximum rides were recorded: {max_rides_day}")
print(f"Number of rides on {max_rides_day}: {max_rides_count}")

On which day of the week in September 2010, maximum rides were recorded: Thursday
Number of rides on Thursday: 457

In [21]:


# Filter the dataset to include only rides in the year 2014
rides_2014 = df[df['pickup_datetime'].dt.year == 2014]

# Count the number of rides in the year 2014
total_rides_2014 = len(rides_2014)

print(f"Total rides recorded in the year 2014: {total_rides_2014}")

Total rides recorded in the year 2014: 29968

In [22]:


# Filter the dataset to include only rides in the first quarter (January to March) of 2014
rides_first_quarter_2014 = df[(df['pickup_datetime'].dt.year == 2014) & (df['pickup_datetime'].dt.month >= 1) & (df['pickup_datetime'].dt.month <= 3)]

# Count the number of rides in the first quarter of 2014
total_rides_first_quarter_2014 = len(rides_first_quarter_2014)

print(f"Total rides recorded in the first quarter of 2014: {total_rides_first_quarter_2014}")

Total rides recorded in the first quarter of 2014: 7687

In [23]:
import pandas as pd
import numpy as np
from scipy.spatial import distance
from statistics import median

lat1=df["pickup_latitude"]
lon1=df["pickup_longitude"]
lat2=df["dropoff_latitude"]
lon=df["dropoff_longitude"]

# Define a function to calculate Haversine distance
def haversine(lat1, lon1, lat2, lon2):
    # Radius of the Earth in kilometers
    R = 6371.0
    
    # Convert latitude and longitude from degrees to radians
    lat1_rad = np.radians(lat1)
    lon1_rad = np.radians(lon1)
    lat2_rad = np.radians(lat2)
    lon2_rad = np.radians(lon2)
    
    # Haversine formula
    dlon = lon2_rad - lon1_rad
    dlat = lat2_rad - lat1_rad
    a = np.sin(dlat / 2)**2 + np.cos(lat1_rad) * np.cos(lat2_rad) * np.sin(dlon / 2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    distance_km = R * c
    
    return distance_km

# Calculate the Haversine distance for each pickup-dropoff pair
distances = []
for index, row in df.iterrows():
    pickup_lat = row['pickup_latitude']
    pickup_lon = row['pickup_longitude']
    dropoff_lat = row['dropoff_latitude']
    dropoff_lon = row['dropoff_longitude']
    
    dist = haversine(pickup_lat, pickup_lon, dropoff_lat, dropoff_lon)
    distances.append(dist)

# Calculate the median Haversine distance
median_distance = median(distances)

print(f"The median Haversine distance between pickup and dropoff locations is {median_distance} kilometers.")

The median Haversine distance between pickup and dropoff locations is 2.1209923961833708 kilometers.

In [25]:
lat1=df["pickup_latitude"]
lon1=df["pickup_longitude"]
lat2=df["dropoff_latitude"]
lon=df["dropoff_longitude"]
def haversine(lat1, lon1, lat2, lon2):
    # Radius of the Earth in kilometers
    R = 6371.0


    
    # Convert latitude and longitude from degrees to radians
    lat1_rad = np.radians(lat1)
    lon1_rad = np.radians(lon1)
    lat2_rad = np.radians(lat2)
    lon2_rad = np.radians(lon2)
    
    # Haversine formula
    dlon = lon2_rad - lon1_rad
    dlat = lat2_rad - lat1_rad
    a = np.sin(dlat / 2)**2 + np.cos(lat1_rad) * np.cos(lat2_rad) * np.sin(dlon / 2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    distance_km = R * c
    
    return distance_km

# Initialize a variable to keep track of the maximum distance
max_distance = 0

# Calculate the Haversine distance for each pickup-dropoff pair and find the maximum
for index, row in df.iterrows():
    pickup_lat = row['pickup_latitude']
    pickup_lon = row['pickup_longitude']
    dropoff_lat = row['dropoff_latitude']
    dropoff_lon = row['dropoff_longitude']
    
    dist = haversine(pickup_lat, pickup_lon, dropoff_lat, dropoff_lon)
    
    if dist > max_distance:
        max_distance = dist

print(f"The maximum Haversine distance between pickup and dropoff locations is {max_distance} kilometers.")

The maximum Haversine distance between pickup and dropoff locations is 16409.239135313168 kilometers.

In [26]:
lat1=df["pickup_latitude"]
lon1=df["pickup_longitude"]
lat2=df["dropoff_latitude"]
lon=df["dropoff_longitude"]

# Define a function to calculate Haversine distance
def haversine(lat1, lon1, lat2, lon2):
    # Radius of the Earth in kilometers
    R = 6371.0
    
    # Convert latitude and longitude from degrees to radians
    lat1_rad = np.radians(lat1)
    lon1_rad = np.radians(lon1)
    lat2_rad = np.radians(lat2)
    lon2_rad = np.radians(lon2)
    
    # Haversine formula
    dlon = lon2_rad - lon1_rad
    dlat = lat2_rad - lat1_rad
    a = np.sin(dlat / 2)**2 + np.cos(lat1_rad) * np.cos(lat2_rad) * np.sin(dlon / 2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    distance_km = R * c
    
    return distance_km

# Initialize a variable to count rides with 0.0 Haversine distance
rides_with_zero_distance = 0

# Calculate the Haversine distance for each pickup-dropoff pair and count rides with 0.0 distance
for index, row in df.iterrows():
    pickup_lat = row['pickup_latitude']
    pickup_lon = row['pickup_longitude']
    dropoff_lat = row['dropoff_latitude']
    dropoff_lon = row['dropoff_longitude']
    
    dist = haversine(pickup_lat, pickup_lon, dropoff_lat, dropoff_lon)
    
    if dist == 0.0:
        rides_with_zero_distance += 1

print(f"The number of rides with 0.0 Haversine distance between pickup and dropoff locations is {rides_with_zero_distance}.")

The number of rides with 0.0 Haversine distance between pickup and dropoff locations is 5632.

In [28]:
lat1=df["pickup_latitude"]
lon1=df["pickup_longitude"]
lat2=df["dropoff_latitude"]
lon=df["dropoff_longitude"]

# Define a function to calculate Haversine distance
def haversine(lat1, lon1, lat2, lon2):
    # Radius of the Earth in kilometers
    R = 6371.0
    
    # Convert latitude and longitude from degrees to radians
    lat1_rad = np.radians(lat1)
    lon1_rad = np.radians(lon1)
    lat2_rad = np.radians(lat2)
    lon2_rad = np.radians(lon2)
    
    # Haversine formula
    dlon = lon2_rad - lon1_rad
    dlat = lat2_rad - lat1_rad
    a = np.sin(dlat / 2)**2 + np.cos(lat1_rad) * np.cos(lat2_rad) * np.sin(dlon / 2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    distance_km = R * c
    
    return distance_km

# Calculate the Haversine distance for each pickup-dropoff pair
df['haversine_distance'] = df.apply(lambda row: haversine(row['pickup_latitude'], row['pickup_longitude'], row['dropoff_latitude'], row['dropoff_longitude']), axis=1)

# Filter rides with 0.0 Haversine distance
zero_distance_rides = df[df['haversine_distance'] == 0.0]

# Calculate the mean 'fare_amount' for rides with 0 Haversine distance
mean_fare_amount_zero_distance = zero_distance_rides['fare_amount'].mean()

print(f"The mean 'fare_amount' for rides with 0 Haversine distance is: {mean_fare_amount_zero_distance}")

The mean 'fare_amount' for rides with 0 Haversine distance is: 11.585317826704546

In [29]:
lat1=df["pickup_latitude"]
lon1=df["pickup_longitude"]
lat2=df["dropoff_latitude"]
lon=df["dropoff_longitude"]

# Define a function to calculate Haversine distance
def haversine(lat1, lon1, lat2, lon2):
    # Radius of the Earth in kilometers
    R = 6371.0
    
    # Convert latitude and longitude from degrees to radians
    lat1_rad = np.radians(lat1)
    lon1_rad = np.radians(lon1)
    lat2_rad = np.radians(lat2)
    lon2_rad = np.radians(lon2)
    
    # Haversine formula
    dlon = lon2_rad - lon1_rad
    dlat = lat2_rad - lat1_rad
    a = np.sin(dlat / 2)**2 + np.cos(lat1_rad) * np.cos(lat2_rad) * np.sin(dlon / 2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    distance_km = R * c
    
    return distance_km

# Find the ride with the highest 'fare_amount' (costliest ride)
costliest_ride = df[df['fare_amount'] == df['fare_amount'].max()]

# Calculate the Haversine distance for the pickup and dropoff coordinates of the costliest ride
pickup_lat = costliest_ride.iloc[0]['pickup_latitude']
pickup_lon = costliest_ride.iloc[0]['pickup_longitude']
dropoff_lat = costliest_ride.iloc[0]['dropoff_latitude']
dropoff_lon = costliest_ride.iloc[0]['dropoff_longitude']

haversine_distance_costliest_ride = haversine(pickup_lat, pickup_lon, dropoff_lat, dropoff_lon)

print(f"The Haversine distance for the costliest ride is: {haversine_distance_costliest_ride} kilometers")

The Haversine distance for the costliest ride is: 0.0007899213191009994 kilometers

In [35]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.preprocessing import LabelEncoder





# Define features and target variable
X = df[["ride_id","pickup_longitude","pickup_latitude","dropoff_latitude","dropoff_longitude","passenger_count"] + [col for col in df.columns if col.startswith('ride_week_day_')]]
y = df['fare_amount']

# Split the dataset into training and testing sets (70-30 split)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Initialize and train different regression models
models = {
    'Linear Regression': LinearRegression(),
    'Decision Tree Regressor': DecisionTreeRegressor(),
    'Random Forest Regressor': RandomForestRegressor()
}

adjusted_r2_scores = {}

for model_name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    r2 = r2_score(y_test, y_pred)
    n = len(y_test)
    p = X_test.shape[1]
    adjusted_r2 = 1 - (1 - r2) * ((n - 1) / (n - p - 1))
    adjusted_r2_scores[model_name] = adjusted_r2

# Find the model with the least adjusted R-squared value
min_adjusted_r2_model = min(adjusted_r2_scores, key=adjusted_r2_scores.get)

print(f"The model with the least adjusted R-squared is {min_adjusted_r2_model} with adjusted R-squared: {adjusted_r2_scores[min_adjusted_r2_model]}")

The model with the least adjusted R-squared is Linear Regression with adjusted R-squared: 0.00020482156632828374